.form {
    width: 100%;
    padding: 150px 0px;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        background-color: white;
        width: 300px;
        height: 340px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 40px 30px;

        label {
            font-size: 17px;
            color: #d61c22;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: 1px solid #212529;
            margin-bottom: 25px;
            padding-left: 12px;
        }

        button {
            margin: 15px auto;
            width: 120px;
            height: 35px;
            color: #d61c22;
            border: none;
            border-radius: 10px;
            background-color: white;
            border: 1px solid #d61c22;

            &:hover {
                background-color: #d61c22;
                color: white;
                transition: 0.4s;
            }
        }
}
}