.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    z-index: 99999;
    overflow: hidden;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    position: fixed;


    img {
        width: 110px;
        height: 50px;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 50px;
        li {
            a {
                text-decoration: none;
                color: white;
                font-size: 22px;
            }
        }
    }
    &__icons {
        display: flex;
        gap: 30px;
        font-size: 20px;
        color: white;
    }
}